{% extends 'core/base.html' %}

{% load static %}

{% block title %}Recursos Humanos{% endblock %}

{% block content %}

<div class="image">
    <div class="container">
        <div class="row animated fadeIn seleccion col-md-12">
            <div class="col-md-6 col-xs-6 reclutamiento">
                <b><h2><font color="#75b274">Reclutamiento</font></h2><br>
                <h3>& selección</h3><br>
                <h2>de <font color="#75b274">personal</font></h2></b>
            </div>
            <div class="col-md-6 col-xs-6">
                <b><h2><font color="#75b274">Asesoria</font></h2><br>
                <h3>y solución</h3><br>
                <h2><font color="#75b274">industrial</font></h2></b>
            </div>
        </div>        
    </div>
    <div class="container">
        <div class="row">
            <div class="intro col-md-9">
                <div class="intro-text text-center p-5 rounded">
                    <a href="#mision" class="js-scroll-trigger">Saber más <br><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>

            <div class="row social col-md-3">
                <ul class="social-icons">
                    <div class="icons">
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    </div>
                    <div class="icons">
                        <li><a href=""><i class="far fa-envelope-open"></i></a></li>
                    </div>                    
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mision overflow-hidden animated fadeIn" id="mision">
    <div class="container">
        <div class="nuestra-mision col-md-4 col-xs-4">
            <h2>Nuestra <font color="#75b274">Misión</font></h2>
            <hr class="style13">
            <p>Solucionar problemas de rotación de empleados para las empresas, desarrollando individuos apasionados y comprometidos con su trabajo y su entorno.</p>
        </div>

        <div class="nuestra-vision col-md-4 col-xs-4">
            <h2>Nuestra <font color="#75b274">Visión</font></h2>
            <hr class="style13">
            <p>Ser la empresa #1 en México en este giro para el 2020, satisfaciendo las necesidades de nuestros clientes con eficacia y eficiencia.</p>
        </div>
    </div>

    <div class="nosotros-puntos col-md-12">
        <div class="row">
            <div class="punto-primero">
                <center> 
                    <h3 class="puntos">1</h3>
                    <p>Integridad</p>
                </center>
            </div>
            <div class="punto-segundo">
                <center> 
                    <h3 class="puntos">2</h3>
                    <p center>Calidad</p>
                </center>
            </div>
            <div class="punto-tercero">
                <center> 
                    <h3 class="puntos">3</h3>
                    <p center>Servició</p>
                </center>
            </div>
            <div class="punto-cuarto">
                <center> 
                    <h3 class="puntos">4</h3>
                    <p center>Innovación</p>
                </center>
            </div>
        </div>
    </div>
</div>
<div class="datos animated fadeIn" id="datos">
       <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
            <header class="section-header">
            <h3>Serviciós de reclutamiento</h3>
            </header>
            <div class="row">
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                        <h4 class="title">Especialistas en reclutamiento</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
                        <h4 class="title">Buscamos el mejor talento para tu empresa</h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                        <h4 class="title">Selección rápida y personalizada</h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                        <h4 class="title">Relación fluida con nuestros clientes</h4>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
                        <h4 class="title">Cumplimiento a perfil de la empresa</h4>
                    </div>
                </div>        
            </div>
        </div>
    </section><!-- #services -->


    <section id="services" class="section-bg">
            <div class="container">
                <header class="section-header">
                <h3>Serviciós de asesoria y solución</h3>
                </header>
                <div class="row">
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #fceef3;"><i class="ion-ios-cog-outline" style="color: #ff689b;"></i></div>
                            <h4 class="title">conectividad de procesos</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #fff0da;"><i class="ion-ios-box-outline" style="color: #e98e06;"></i></div>
                            <h4 class="title">Desbalance de Inventarios </h4>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-time-outline" style="color: #3fcdc7;"></i></div>
                            <h4 class="title">Toma de Tiempo & Movimientos</h4>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #eafde7;"><i class="ion-ios-analytics-outline" style="color:#41cf2e;"></i></div>
                            <h4 class="title">Análisis Datos & Solución problemas</h4>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #e1eeff;"><i class="ion-ios-flag-outline" style="color: #2282ff;"></i></div>
                            <h4 class="title">Sistemas De Calidad</h4>
                        </div>
                    </div>   
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                            <div class="box">
                                <div class="icon" style="background: #e1eeff;"><i class="ion-ios-infinite-outline" style="color: #2282ff;"></i></div>
                                <h4 class="title">Y más</h4>
                            </div>
                        </div>      
                </div>
            </div>
        </section><!-- #services -->


    <div class="col-sm contacto">
        <center> 
            <h3 class="puntos-contacto">Contacto</h3>
        </center>
    </div>   
</div>

<div class="contacto-form" id="contacto">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Ingrese email" required="required" /></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Mensaje</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                    placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Enviar Mensaje</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}